# Data Science Tools and Ecosystem

**Objectives:**
- List Popular Languages for Data Science
- List commonly used libraries for Data Science
- Make a table for the commonly used Data Science Tools
- Basic Code for evaluating arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
2. Scikit-learn
3. Matplotlib
4. TensorFlow

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Apache Zeppelin       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335